@charset "UTF-8";

html, body {
    margin: 0;
    height: 100%;
    background-color: #FAFAFA;
}

body {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body .title {
	margin-right: 1013px;
}

.boardWrite {
    width: 1100px;
}
    
.boardWrite .boardWriteTitle {
	border-top: 1px solid #bdbdbd;
}

.boardWrite .boardWriteTitle input{
	width: 900px;
}

.boardWrite .boardContent textarea{
	width: 900px;
	height: 250px;
	overflow: auto;
	padding: none;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
}

.boardWrite .boardWriteAuthor input{
	width: 100px
}

.boardWrite .boardWriteAuthor .boardInner{
	margin-top: 2px;
}

.boardWrite .boardWritePw input{
	width: 100px
}

.boardWrite .boardWritePw .boardInner{
	margin-top: 2px;
}

.boardWrite .boardWriteFile input{
	width: 50px
}

.boardWrite .boardWriteFile .file_fileBox {
	display: flex;
}

.boardWrite .boardWriteFile .addFile {
	cursor: pointer;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	height: 23px;
}

.boardWrite .boardWriteFile .file_box {
	display: none;
	
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	
	margin-left: 43px;
	width: 800px;
	height: 100px;	    
	
	overflow:auto;
}

.boardWrite .boardWriteFile .file_box ul {
	display: flex;
	list-style: none;
	
	padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boardWrite .boardWriteFile .file_box ul .file_del {
	margin-top: 1px;
    margin-left: 10px;
}

.boardWrite .boardWriteFile .file_box .file_name {
	margin-left: 10px;
}

.boardWrite .boardWriteFile .addFile label{
	cursor: pointer;
	padding: 10px;
}

.boardWrite .boardWriteTitle .boardInner {
	margin-right: 20px;
	width: 48px;
}

.boardWrite .boardContent .boardInner {
	margin-right: 21px;
	width: 48px;
}

.boardWrite .boardWriteAuthor .boardInner {
	margin-right: 21px;
	width: 48px;
}

.boardWrite input {
	border-radius: 5px;
	border: 0.1px solid #bdbdbd;
	height: 25px;
}
.board {
	display: flex;
	border-bottom: 1px solid #bdbdbd;
	padding: 15px 10px;
}

.boardWrite .boardInner {
	font-weight: bold;
	margin-right: 5px;
}

.title {
	margin-bottom: 20px;
    margin-right: 1108px;
    
	font-size: 30px; 
	font-weight: 300px;
}

.button {
	margin: 10px 1107px 100px 0px;
	margin-right: 1005px;
}

.btn {
	padding: 10px;
	border: none;
	border-radius: 10px;
}

.btn:hover{
	background-color: #E7B2A4;
}
