@charset "UTF-8";

:root {
	/* margin */
	--margin: 15px;
	
	/* padding */
	--padding: 15px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #A4A4A4;
}

a .nav_a_title {
	color: #848484;
}

ul {
	margin: 0px;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #FAFAFA;
}

.board {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: 630px;
}

.board .page {
	display: flex;
	justify-content: center;
	color: #585858;
}
.board .page .pageMove {
	width: 250px;
	display: flex;
	justify-content: center;
	
	margin-top: 15px;
    margin-left: 480px;
}

.board .page .page_move_left {
    margin-left: 10px;
    margin-right: 10px;
}

.board .page .page_move_right {
	margin-left: 10px;
    margin-right: 10px;
}

.board .page .pageMove .page_num {
	display: flex;
	width: 200px;
	
	margin-top: 15px;
    margin-left: 140px;
    margin-right: 10px;
    
    justify-content: center;
}

.board .page .pageMove a {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.board .page .write_btn {
	width: 70px;
	height: 35px;
	margin-top: 15px;
	margin-left: auto;
	border: solid 0.5px #848484;
	border-radius: 20px;
	background-color: #FAFAFA;
	padding: 5px 10px;
}

.board .page .write_btn:hover {
	cursor: pointer;
}

.board .board_top .board_top_ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: var(--padding);
	border-top: 1px solid;
	border-bottom: 0.5px solid #D8D8D8;
	color: #585858;
}

.board .board_top .board_top_ul .top_title {
	margin-left: 300px;
	margin-right: 300px;
}

.board .board_top .board_top_ul .top_writer {
	margin-left: 45px;
}

.board .board_top .board_top_ul .top_date {
	margin-left: 50px;
}

.board .board_middle .board_middle_ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: var(--padding);
	padding-left: 7px;
	border-bottom: 0.5px solid #D8D8D8;
	color: #585858;
}

.board .board_middle .board_middle_ul:hover {
	background-color: #e0e0e0;
}

.board .board_middle .board_middle_ul .middle_num_title {
	display: flex;
	width: 700px;
}

.board .board_middle .board_middle_ul .middle_num_title .middle_num {
	width: 40px;
	text-align: center;
}

.board .board_middle .board_middle_ul .middle_num_title .middle_title {
	margin-left: 30px;
}

.board .board_middle .board_middle_ul .middle_num_title .middle_commentSign {
	margin-left: 20px;
}

.board .board_middle .board_middle_ul .middle_writer {
	width: 160px;
	margin-left: 60px;
	text-align: center;
}

.board .board_middle .board_middle_ul .middle_date {
	width: 100px;
	text-align: center;
}

.board .board_middle .board_middle_ul .middle_view {
	width: 50px;
	text-align: center;
}

.nav {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	width: 1890px;
	height: 70px;
	background-color: #E0E6F8;
	padding: var(--padding);
}

.nav_left {
	display: flex;
}

.nav_left  i {
	font-size: 20px;
	padding-top: 13px;
	color: #848484;
}

.nav_left .nav_title {
	font-size: 30px;
	margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 12px;
}

.nav_logout {
	margin: 5px;
	padding: var(--padding);
}

.nav_logout:hover {
	background-color: #F6CED8;
	border-radius: 20px;
}

.comment_notice {
	display: flex;
	justify-content: flex-end;
	color: #848484;
	
	margin-top: 30px;
    margin-right: 20px;
}

.search {
	display: flex;
	color: #848484;
	
	margin-bottom: 10px;
}

.search .choice_searchList {
	width: 122px;
	height: 36px;
	
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.search .search_content {
	width: 196px;
	height: 34px;
	
	border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    
    padding-top: 0px;
    padding-bottom: 0px;
}

.search .search_btn {
	width: 40px;
	height: 36px;
	
	padding-top: 10px;
    padding-left: 10px;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}