@charset "UTF-8";

:root {
	/* padding */
	--padding: 15px;
	
	/* margin */
	--margin: 5px;
}

html, body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
	width: 400px;
   	height: 393px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	align-items: center;
	border-radius: 10px;
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	
	background-color: #e3f2fd;
	
}

.top {
	padding-bottom: 28px;
	display: flex;
	justify-content: center;
}

.top i {
	padding-top: 4px;
	margin-right: 10px;
	font-size: 25px
}

.top .top_title {
	font-size: 25px;
}

.middle {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	margin-bottom: 10px;
}

.middle .middle_id {
	width: 300px;
	height: 25px;
	border: 0px;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: var(--padding);
	margin: var(--margin);
}

.middle .middle_pw {
	width: 300px;
	height: 25px;
	border: 0px;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: var(--padding);
	margin: var(--margin);
}

.loginBtn {
	width: 330px;
    height: 55px;
    border: 0px;
	border-radius: 10px;
    padding: var(--padding);
	margin: var(--margin);
    background-color: #ffeb3b;  
}

.bottom a {
	text-align: center;
}
   